<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Timer12306</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.meession.common.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.meession.um.service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.meession.um.service.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.meession.um.service.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.meession.um.service.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStationServlet</display-name>
    <servlet-name>CreateStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.CreateStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStationServlet</servlet-name>
    <url-pattern>/CreateStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStationServlet</display-name>
    <servlet-name>UpdateStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.UpdateStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStationServlet</servlet-name>
    <url-pattern>/UpdateStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStationServlet</display-name>
    <servlet-name>DeleteStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.DeleteStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStationServlet</servlet-name>
    <url-pattern>/DeleteStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStationServlet</display-name>
    <servlet-name>QueryStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.QueryStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStationServlet</servlet-name>
    <url-pattern>/QueryStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllStationServlet</display-name>
    <servlet-name>QueryAllStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.QueryAllStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStationServlet</servlet-name>
    <url-pattern>/QueryAllStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserInfoServlet</display-name>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <servlet-class>com.meession.um.service.QueryUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserInfoServlet</servlet-name>
    <url-pattern>/QueryUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllUserInfoServlet</display-name>
    <servlet-name>QueryAllUserInfoServlet</servlet-name>
    <servlet-class>com.meession.um.service.QueryAllUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllUserInfoServlet</servlet-name>
    <url-pattern>/QueryAllUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoute</display-name>
    <servlet-name>CreateRoute</servlet-name>
    <servlet-class>com.meession.am.service.route.CreateRoute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoute</servlet-name>
    <url-pattern>/CreateRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRouteServlet</display-name>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <url-pattern>/UpdateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRouteServlet</display-name>
    <servlet-name>QueryRouteServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.QueryRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRouteServlet</servlet-name>
    <url-pattern>/QueryRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRouteFromServlet</display-name>
    <servlet-name>QueryRouteFromServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.QueryRouteFromServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRouteFromServlet</servlet-name>
    <url-pattern>/QueryRouteFromServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRouteServlet</display-name>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <url-pattern>/DeleteRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayOrderServlet</display-name>
    <servlet-name>PayOrderServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.PayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOrderServlet</servlet-name>
    <url-pattern>/PayOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllOrderServlet</display-name>
    <servlet-name>QueryAllOrderServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.QueryAllOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllOrderServlet</servlet-name>
    <url-pattern>/QueryAllOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrderByIdServlet</display-name>
    <servlet-name>QueryOrderByIdServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.QueryOrderByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderByIdServlet</servlet-name>
    <url-pattern>/QueryOrderByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrderByUserServlet</display-name>
    <servlet-name>QueryOrderByUserServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.QueryOrderByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderByUserServlet</servlet-name>
    <url-pattern>/QueryOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOrderByTimeServlet</display-name>
    <servlet-name>QueryOrderByTimeServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.QueryOrderByTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderByTimeServlet</servlet-name>
    <url-pattern>/QueryOrderByTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTicketServlet</display-name>
    <servlet-name>CreateTicketServlet</servlet-name>
    <servlet-class>com.meession.tm.service.ticket.CreateTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTicketServlet</servlet-name>
    <url-pattern>/CreateTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRouteAtoBServlet</display-name>
    <servlet-name>QueryRouteAtoBServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.QueryRouteAtoBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRouteAtoBServlet</servlet-name>
    <url-pattern>/QueryRouteAtoBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.meession.um.service.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeTicketServlet</display-name>
    <servlet-name>ChangeTicketServlet</servlet-name>
    <servlet-class>com.meession.tm.service.ticket.ChangeTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeTicketServlet</servlet-name>
    <url-pattern>/ChangeTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTicketServlet</display-name>
    <servlet-name>QueryTicketServlet</servlet-name>
    <servlet-class>com.meession.tm.service.ticket.QueryTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTicketServlet</servlet-name>
    <url-pattern>/QueryTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundTicketServlet</display-name>
    <servlet-name>RefundTicketServlet</servlet-name>
    <servlet-class>com.meession.tm.service.ticket.RefundTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundTicketServlet</servlet-name>
    <url-pattern>/RefundTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostSessionServlet</display-name>
    <servlet-name>PostSessionServlet</servlet-name>
    <servlet-class>com.meession.tm.service.order.PostSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSessionServlet</servlet-name>
    <url-pattern>/PostSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.meession.um.service.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADQueryRouteServlet</display-name>
    <servlet-name>ADQueryRouteServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.ADQueryRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADQueryRouteServlet</servlet-name>
    <url-pattern>/ADQueryRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRouteServlet</display-name>
    <servlet-name>CreateRouteServlet</servlet-name>
    <servlet-class>com.meession.am.service.route.CreateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRouteServlet</servlet-name>
    <url-pattern>/CreateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADQueryTicketServlet</display-name>
    <servlet-name>ADQueryTicketServlet</servlet-name>
    <servlet-class>com.meession.tm.service.ticket.ADQueryTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADQueryTicketServlet</servlet-name>
    <url-pattern>/ADQueryTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADQueryStationServlet</display-name>
    <servlet-name>ADQueryStationServlet</servlet-name>
    <servlet-class>com.meession.am.service.station.ADQueryStationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADQueryStationServlet</servlet-name>
    <url-pattern>/ADQueryStationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADRegisterServlet</display-name>
    <servlet-name>ADRegisterServlet</servlet-name>
    <servlet-class>com.meession.um.service.ADRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADRegisterServlet</servlet-name>
    <url-pattern>/ADRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADUpdateUserServlet</display-name>
    <servlet-name>ADUpdateUserServlet</servlet-name>
    <servlet-class>com.meession.um.service.ADUpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADUpdateUserServlet</servlet-name>
    <url-pattern>/ADUpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.meession.um.service.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
</web-app>